<div class="text-widget-10 text-widget-{{size}} bg-{{rightColor}}">
    <div class="row">
        <div class="col-xs-12">
            <div class="left bg-{{leftColor}}">
                <div class="centered">
                    <div class="circle border-color-{{circleBorderColor}}">
                    </div>
                    <i class="fa {{icon}} color-{{iconColor}}"></i>
                </div>
            </div>
            <div class="right bg-{{rightColor}}">
                <div class="title text-{{textAlign}} color-{{textColor}}">{{title}}</div>
                <div class="numbers text-{{textAlign}} color-{{textColor}}">
                    <span class="amount color-{{textColor}}" count-to-currency="{{amount}}" value="0" duration="1"></span>
                </div>
            </div>
        </div>
    </div>
</div>
