<div class="text-widget-3 bg-{{bgColor}} color-{{textColor}}">
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="title">{{title}}</div>
            <span class="amount" count-to="{{amount}}" value="0" duration="1"></span>
        </div>
    </div>
</div>
