<div class="text-widget-8 bg-{{bgColor}} color-{{textColor}}">
    <div class="row">
        <div class="col-xs-12">
            <div class="title text-{{align}}"> {{title}} </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="numbers text-{{align}}">
                <span class="amount" count-to-currency="{{amount}}" value="0" duration="1"></span>
                <span class="percent color-{{percentColor}}">({{percent | number:2}}%)</span>
            </div>
        </div>
    </div>
</div>
