<div class="text-widget-19">
    <div class="row">
        <div class="col-xs-12 text-center color-{{textColor}}">
            {{text}}
        </div>
    </div>
    <div class="row p-t-5">
        <div class="col-xs-12 text-center color-{{amountColor}} amount">
            {{amount}}
        </div>
    </div>
</div>
