<div class="text-widget-16 bg-{{rightColor}} text-widget-{{size}}">
    <div class="row">
        <div class="col-xs-12">
            <div class="left bg-{{leftColor}}">
                <div class="centered">
                    <i class="fa {{icon}} color-{{textColor}}"></i>
                </div>
            </div>
            <div class="right bg-{{rightColor}}">
                <div class="title color-{{textColor}}">{{title}}</div>
                <div class="numbers">
                    <span class="amount color-{{textColor}}" count-to-currency="{{amount}}" value="0" duration="1"></span>
                </div>
            </div>
        </div>
    </div>
</div>
