<div class="text-widget-2 bg-{{bgColor}}">
    <div class="row">
        <div class="col-xs-12 text-center">
            <span class="amount color-{{textColor}}" count-to="{{amount}}" value="0" duration="1"></span>
            <div class="title color-{{textColor}}">{{title}}</div>
            <div class="subtitle color-{{textColor}}">{{subtitle}}</div>
        </div>
    </div>
</div>
