<div class="text-widget-5">
    <div class="row">
        <div class="col-xs-4">
            <span class="fa-stack fa-stack-2x pull-left">
<i class="fa fa-circle fa-stack-2x color-{{circleColor}}"></i>
<i class="fa {{icon}} fa-stack-1x color-{{iconColor}}"></i>
</span>
        </div>
        <div class="col-xs-8 text-left">
            <div class="row">
                <div class="col-xs-12">
                    <div class="title">{{title}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="numbers">
                        <div ng-if="increment">
                            <span class="amount" count-to="{{amount}}" value="0" duration="{{duration}}"></span>
                        </div>
                        <div ng-if="!increment">
                            <span class="amount">{{amount | number}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
