<div class="text-widget-4 bg-{{bgColor}} color-{{textColor}}">
    <div class="title">{{title}}</div>
    <div class="subtitle">{{subtitle}}</div>
    <span class="amount" count-to-currency="{{amount}}" value="0" duration="1"></span>
    <span class="tag tag-{{textColor}}-outline">{{tag}}</span>
    <span count-to-percent="{{percent}}" value="0" duration="1" class="percent"></span>
</div>
