<div class="text-widget-7 bg-{{bgColor}} color-{{textColor}} text-widget-{{align}}">
    <div class="row">
        <div class="col-xs-12">
            <span class="amount" count-to-currency="{{amount}}" value="0" duration="1"></span>
            <div class="title">{{title}}</div>
        </div>
    </div>
</div>
