<div class="horizontal-navigation horizontal-navigation-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="p-t-20 p-b-20">
                    <ol class="breadcrumb icon-angle-right animation-delay">
                        <li class="wow fadeIn">{{url[0]}}</li>
                        <li class="wow fadeIn" ng-if="url[1]">{{url[1]}}</li>
                        <li ng-if="url[2]" class="wow fadeIn active">{{url[2]}}</li>
                    </ol>
                    <div class="description">
                        <h3 class="wow fadeIn delay-1000">{{url[1]}}</h3>
                        <p class="wow fadeIn delay-1200">{{url[2]}}</p>
                    </div>
                    <ul class="list-unstyled navigation animation-delay">
                        <li ng-repeat="item in items" class="horizontal-navigation-dropdown wow fadeIn">
                            <a ng-if="item.items.length > 0" ng-href="" class="btn btn-primary">{{item.title}}</a>
                            <div ng-if="item.items.length > 0" class="horizontal-dropdown-menu" ng-class="{'horizontal-dropdown-menu-lg': item.items.length > 10}">
                                <a class="btn btn-primary sideline" ng-repeat="menu in item.items" ng-href="{{menu.url}}" ng-if="item.id !== 'layouts'">{{menu.title}}</a>
                                <a class="btn btn-primary sideline" ng-repeat="menu in item.items" ng-click="setLayout(menu.id)" ng-if="item.id === 'layouts'" ng-href="" data-click="set-layout" data-id="{{menu.id}}">{{menu.title}}</a>
                            </div>
                            <a ng-if="item.items.length === 0" ng-href="{{item.url}}" class="btn btn-primary">{{item.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
