<div class="horizontal-navigation horizontal-navigation-3" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-unstyled navigation">
                    <li ng-click="changeType(item.url)" ng-repeat="item in items" ng-class="{'active':item.url == currentUrl}" class=" horizontal-navigation-dropdown">
                        <a ng-if="item.items.length > 0" ng-href="" class="btn btn-primary">   <img src="{{item.icon}}" class="navi_icon" /><BR>  {{item.title}}</a>
                        <div ng-if="item.items.length > 0" class="horizontal-dropdown-menu" ng-class="{'horizontal-dropdown-menu-lg': item.items.length > 10}">
                            <a class="btn btn-primary " ng-repeat="menu in item.items" ui-sref="{{menu.url}}">
                                {{menu.title}}
                            </a>
                        </div>
                            <a ng-if="item.items.length === 0"    ui-sref="{{item.url}}"   class="btn  btn-primary">
                                <img src="{{item.icon}}" class="navi_icon" /><BR>
                                {{item.title}}
                            </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
