<form name="Form" id="form2" novalidate ng-submit="form.submit(Form)"   >
    <div class="row" >
        <div class="col-md-12">


            <div class="form-group" ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid,'has-success':Form.name.$dirty && Form.name.$invalid}">
                <label class="control-label">İsim * </label>
                <input type="text" name="name" class="form-control" ng-model="myModel.name" required>
                <span class="messages text-small block" ng-if="Form.name.$dirty && Form.name.$invalid ">Lüften İsim alanını boş bırakmayınız</span>
            </div>

            <div class="form-group" ng-class="{'has-error':Form.lastName.$dirty && Form.lastName.$invalid,'has-success':Form.lastName.$dirty && Form.lastName.$invalid}">
                <label class="control-label">İsim * </label>
                <input type="text" name="lastName" class="form-control" ng-model="myModel.lastName" \>
                <span class="messages text-small block" ng-if="Form.lastName.$dirty && Form.lastName.$invalid ">Lüften İsim alanını boş bırakmayınız</span>
            </div>


        </div>

    </div>
</form>