<form name="Form"  novalidate ng-submit="form.submit(Form)"   >
    <div class="modal-body " >
        <div class="row" >
            <div class="col-md-12">


                    <div class="form-group" >
                        <label class="control-label">Kullanıcı Sınıfı * </label>
                        <select   name="CustomerClass" class="form-control" ng-class="{'is-invalid':Form.CustomerClass.$dirty && Form.CustomerClass.$invalid,'is-valid':Form.CustomerClass.$valid}"  ng-model="myModel.CustomerClass" required>
                            <option value="Standart" selected >Standart</option>
                            <option value="Reference">Reference</option>
                        </select>
                        <span class="text-danger small text-small block" ng-if="Form.CustomerClass.$dirty && Form.CustomerClass.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                    </div>
                    <div class="form-group" >
                        <label class="control-label">Firma Adı * </label>
                        <input type="text" name="CorporateTitle" class="form-control" ng-class="{'is-invalid':Form.CorporateTitle.$dirty && Form.CorporateTitle.$invalid,'is-valid':Form.CorporateTitle.$valid}"  ng-model="myModel.CorporateTitle" required>
                        <span class="text-danger small text-small block" ng-if="Form.CorporateTitle.$dirty && Form.CorporateTitle.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                    </div>
                    <div class="form-group" >
                        <label class="control-label">Firma Kısa Adı  </label>
                        <input type="text" name="CorporateShortName" class="form-control" ng-class="{'is-invalid':Form.CorporateShortName.$dirty && Form.CorporateShortName.$invalid,'is-valid':Form.CorporateShortName.$valid}"  ng-model="myModel.CorporateShortName" >
                        <span class="text-danger small text-small block" ng-if="Form.CorporateTitle.$dirty && Form.CorporateShortName.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                    </div>


                    <div class="form-group" >
                        <label class="control-label">Vergi Dairesi* </label>
                        <input type="text" name="CorporateTaxOffice" class="form-control " ng-class="{'is-invalid':Form.CorporateTaxOffice.$dirty && Form.CorporateTaxOffice.$invalid,'is-valid':Form.CorporateTaxOffice.$valid}"  ng-model="myModel.CorporateTaxOffice" required />
                        <span class="text-danger small text-small block" ng-if="Form.CorporateTaxOffice.$dirty && Form.CorporateTaxOffice.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                    </div>


                    <div class="form-group" >
                        <label class="control-label">Vergi Numarası* </label>
                        <input type="text" name="CorporateTaxNumber" class="form-control" ng-model="myModel.CorporateTaxNumber" ng-class="{'is-invalid':Form.CorporateTaxNumber.$dirty && Form.CorporateTaxNumber.$invalid,'is-valid':Form.$valid}" required>
                        <span class="text-danger small text-small block" ng-if="Form.CorporateTaxNumber.$dirty && Form.CorporateTaxNumber.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                    </div>


                    <div class="form-group" >
                        <label class="control-label" >Firma Kuruluş Tarihi*</label>
                        <input class="form-control date " name="CorporateFoundingDate" ng-class="{'is-invalid':Form.CorporateFoundingDate.$dirty && Form.CorporateFoundingDate.$invalid,'is-valid':Form.CorporateFoundingDate.$valid}" ng-model="myModel.CorporateFoundingDate" type="date" required >
                        <span class="text-danger small text-small block" ng-if="Form.CorporateFoundingDate.$dirty && Form.CorporateFoundingDate.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                        <!---->
                    </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit"   ng-click="ok()" class="btn btn-success">Kaydet</button>
        <button type="button" class="btn btn-danger"  ng-click="cancel()">Kapat</button>
    </div>
</form>