<div class="table-responsive"  ng-controller="dashboardCtrl">
    <script type="text/ng-template" id="add">
        <div>
            <ng-include src="template"></ng-include>
        </div>
    </script>




    <script type="text/ng-template" id="custom/pager">
        <ul class=" pagination pagination-sm">
            <li ng-repeat="page in pages" class="page-item"
                ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type" class="paginate_button page-item ">
                <a class="page-link" ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Önceki</a>
                <a class="page-link"  ng-switch-when="next" ng-click="params.page(page.number)" href="">Sonraki &raquo;</a>
            </li>
            <li class="page-item ">
                <div class="btn-group pull-right">
                    <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                    <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                    <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                    <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                </div>
            </li>
        </ul>
    </script>

    <div class="card bs-card">
        <div class="card-block">
            <h4 class="card-title m-b-20">{{modul_baslik}} </h4>
            <div class="tag tag-primary" >
                <ng-include src="getOption()"></ng-include>
            </div>
            <div class="table-content " style="margin-top: 50px">
                <div class="project-table">
                    <table ng-table="tableParams" class="table table-bordered table-striped table-condensed" template-pagination="custom/pager">
                        <tr>
                            <th>ID</th>
                            <th ng-if="typem == 'Personal'">Ad Soyad</th>
                            <th ng-if="typem == 'Corporate'">Kurumsal</th>
                            <th ng-if="typem == 'Personal'">T.C Kimlik No</th>
                            <th ng-if="typem == 'Corporate'">Vergi Kimlik No</th>
                            <th >Üyelik Tarihi</th>
                            <th>İşlem</th>
                        </tr>
                        <tr ng-repeat="row in $data track by row.Id" ng-if="$data.length>0">

                            <td ng-if="typem == 'Corporate'" data-title="'Kurumsal'" filter="{CorporateTitle: 'text'}" sortable="'CorporateTitle'">{{row.CorporateTitle}}</td>
                            <td ng-if="typem == 'Corporate'" data-title="'Kurumsal Kısa Ad'" filter="{CorporateShortName: 'text'}" sortable="'CorporateShortName'">{{row.CorporateShortName}}</td>
                            <td ng-if="typem == 'Corporate'" data-title="'Vergi Kimlik No'" filter="{CorporateTaxNumber: 'text'}" sortable="'CorporateTaxNumber'">{{row.CorporateTaxNumber}}</td>

                            <td  ng-if="typem == 'Personal'" data-title="'Ad'" filter="{Name: 'text'}" sortable="'Name'">{{row.Name}}</td>
                            <td  ng-if="typem == 'Personal'" data-title="'Soyad'" filter="{Surname: 'text'}" sortable="'Surname'">{{row.Surname}}</td>
                            <td  ng-if="typem == 'Personal'" data-title="'T.C Kimlik No'" filter="{Tckn: 'text'}" sortable="'Tckn'">{{row.Tckn}}</td>
                            <td   data-title="'Üyelik Tarihi'" filter="{MembershipStartDate: 'text'}" sortable="'MembershipStartDate'">{{row.MembershipStartDate}}</td>
                            <td class="action-icon">
                                <button type="button"  href="#!" class="m-r-15 text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="icofont icofont-ui-edit"></i></button>
                                <a href="#!" class="text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="icofont icofont-delete-alt"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
