
<navbar-1></navbar-1>
<horizontal-navigation-3></horizontal-navigation-3>

<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>

<left-sidebar-1></left-sidebar-1>
<right-sidebar-1></right-sidebar-1>
<div id="container"   ui-view  class="container-fluid">

</div>
