<div class="login-card card-block auth-body" ng-controller="login">


    <form  class="md-float-material" name="Form" id="form2" novalidate ng-submit="form.submit(Form)"   >
        <div class="text-center">
            <img src="/_assets/images/logo.png" alt="logo.png">
        </div>
        <div class="auth-box">
            <div class="row m-b-20">
                <div class="col-md-12">
                    <h3 class="text-left txt-primary">Giriş Bilgileriniz</h3>
                </div>
            </div>
            <hr/>
            <div class="form-group"  ng-class="{'has-error':Form.username.$dirty && Form.username.$invalid,'has-success':!Form.username.$dirty && !Form.username.$invalid}">
                <input type="text" class="form-control" name="username"  ng-model="myModel.username" placeholder="Kullanıcı Adı" required>
                <span style="text-align: left!important;" class=" text-left text-danger text-small block" ng-if="Form.username.$dirty && Form.username.$invalid ">Lüften alanı boş bırakmayınız</span>

            </div>

            <div class="form-group" ng-class="{'has-error':Form.password.$dirty && Form.password.$invalid,'has-success':!Form.password.$dirty && !Form.password.$invalid}">
                <input type="password" class="form-control" name="password"  ng-model="myModel.password" placeholder="Şifre" required>
                <span style="text-align: left!important;" class=" text-danger text-small block" ng-if="Form.password.$dirty && Form.password.$invalid ">Lüften alanı boş bırakmayınız</span>
            </div>

            <div class="row m-t-30">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Giriş</button>
                </div>
            </div>
            <hr/>

        </div>
    </form>
    <!-- end of form -->
</div>