<form name="Form" id="form2" novalidate ng-submit="form.submit(Form)"   >
    <div class="row" >
        <div class="col-md-12">
            <div class="col-md-4"><!--Select olan alanların hepsinde arama özelliği olsun isteniyor -->
                <div class="form-group" ng-class="{'has-error':Form.device-model-id.$dirty && Form.device-model-id.$invalid,'has-success':Form.device-model-id.$dirty && Form.device-model-id.$invalid}">
                    <label class="control-label" for="">Cihaz Model Id</label>           
                    <select class="form-control ng-pristine ng-invalid ng-touched" data-live-search="true" name="device-model-id" ng-model="myModel.device-model-id" >
                        <option data-tokens="">-</option>
                        <option data-tokens="">-</option>
                        <option data-tokens="">-</option>
                    </select>
            </div>

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.software-version.$dirty && Form.software-version.$invalid,'has-success':Form.software-version.$dirty && Form.software-version.$invalid}">
                    <label class="control-label">Yazılım Sürümü </label>
                    <input type="text" name="software-version" class="form-control" ng-model="myModel.software-version" required>
                    <span class="messages text-small block" ng-if="Form.software-version.$dirty && Form.software-version.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.imei.$dirty && Form.imei.$invalid,'has-success':Form.imei.$dirty && Form.imei.$invalid}">
                    <label class="control-label">İmei </label>
                    <input type="text" name="imei" class="form-control" ng-model="myModel.imei" required>
                    <span class="messages text-small block" ng-if="Form.imei.$dirty && Form.imei.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.serial-number.$dirty && Form.serial-number.$invalid,'has-success':Form.serial-number.$dirty && Form.serial-number.$invalid}">
                    <label class="control-label">Seri Numarası </label>
                    <input type="text" name="serial-number" class="form-control" ng-model="myModel.serial-number" required>
                    <span class="messages text-small block" ng-if="Form.serial-number.$dirty && Form.serial-number.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-md-4"><!--Select olan alanların hepsinde arama özelliği olsun isteniyor -->
                <div class="form-group" ng-class="{'has-error':Form.driver.$dirty && Form.driver.$invalid,'has-success':Form.driver.$dirty && Form.driver.$invalid}">
                    <label class="control-label" for="">Araç</label>           
                    <select class="form-control ng-pristine ng-invalid ng-touched" data-live-search="true" name="driver" ng-model="myModel.driver" >
                        <option data-tokens="">-</option>
                        <option data-tokens="">-</option>
                        <option data-tokens="">-</option>
                    </select>
            </div>
            <div class="col-md-4"><!--Select olan alanların hepsinde arama özelliği olsun isteniyor -->
                <div class="form-group" ng-class="{'has-error':Form.trailer.$dirty && Form.trailer.$invalid,'has-success':Form.trailer.$dirty && Form.trailer.$invalid}">
                    <label class="control-label" for="">Treyler</label>           
                    <select class="form-control ng-pristine ng-invalid ng-touched" data-live-search="true" name="trailer" ng-model="myModel.trailer" >
                        <option data-tokens="">-</option>
                        <option data-tokens="">-</option>
                        <option data-tokens="">-</option>
                    </select>
            </div>
            <div class="col-md-4"><!--Select olan alanların hepsinde arama özelliği olsun isteniyor -->
                <div class="form-group" ng-class="{'has-error':Form.branch.$dirty && Form.branch.$invalid,'has-success':Form.branch.$dirty && Form.branch.$invalid}">
                    <label class="control-label" for="">Şube</label>           
                    <select class="form-control ng-pristine ng-invalid ng-touched" data-live-search="true" name="branch" ng-model="myModel.branch" >
                        <option data-tokens="">-</option>
                        <option data-tokens="">-</option>
                        <option data-tokens="">-</option>
                    </select>
            </div>
            <div class="col-md-4"><!--Select olan alanların hepsinde arama özelliği olsun isteniyor -->
                <div class="form-group" ng-class="{'has-error':Form.customer-id.$dirty && Form.customer-id.$invalid,'has-success':Form.customer-id.$dirty && Form.customer-id.$invalid}">
                    <label class="control-label" for="">Müşteri Kimliği</label>           
                    <select class="form-control ng-pristine ng-invalid ng-touched" data-live-search="true" name="customer-id" ng-model="myModel.customer-id" >
                        <option data-tokens="">-</option>
                        <option data-tokens="">-</option>
                        <option data-tokens="">-</option>
                    </select>
            </div>
            <div class="col-md-4"><!--Select olan alanların hepsinde arama özelliği olsun isteniyor -->
                <div class="form-group" ng-class="{'has-error':Form.data-server-id.$dirty && Form.data-server-id.$invalid,'has-success':Form.data-server-id.$dirty && Form.data-server-id.$invalid}">
                    <label class="control-label" for="">Veri Sunucusu Kimliği</label>           
                    <select class="form-control ng-pristine ng-invalid ng-touched" data-live-search="true" name="data-server-id" ng-model="myModel.data-server-id" >
                        <option data-tokens="">-</option>
                        <option data-tokens="">-</option>
                        <option data-tokens="">-</option>
                    </select>
            </div>
            <div class="col-md-4"><!--Select olan alanların hepsinde arama özelliği olsun isteniyor -->
                <div class="form-group" ng-class="{'has-error':Form.agreement-detail-id.$dirty && Form.agreement-detail-id.$invalid,'has-success':Form.agreement-detail-id.$dirty && Form.agreement-detail-id.$invalid}">
                    <label class="control-label" for="">Anlaşma Detay Kimliği</label>           
                    <select class="form-control ng-pristine ng-invalid ng-touched" data-live-search="true" name="agreement-detail-id" ng-model="myModel.agreement-detail-id" >
                        <option data-tokens="">-</option>
                        <option data-tokens="">-</option>
                        <option data-tokens="">-</option>
                    </select>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.user-name.$dirty && Form.user-name.$invalid,'has-success':Form.user-name.$dirty && Form.user-name.$invalid}">
                    <label class="control-label">Kullanıcı Adı </label>
                    <input type="text" name="user-name" class="form-control" ng-model="myModel.user-name" required>
                    <span class="messages text-small block" ng-if="Form.user-name.$dirty && Form.user-name.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.password.$dirty && Form.password.$invalid,'has-success':Form.password.$dirty && Form.password.$invalid}">
                    <label class="control-label">Şifre </label>
                    <input type="text" name="password" class="form-control" ng-model="myModel.password" required>
                    <span class="messages text-small block" ng-if="Form.password.$dirty && Form.password.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-md-4"><!--Select olan alanların hepsinde arama özelliği olsun isteniyor -->
                <div class="form-group" ng-class="{'has-error':Form.device-id-value.$dirty && Form.device-id-value.$invalid,'has-success':Form.device-id-value.$dirty && Form.device-id-value.$invalid}">
                    <label class="control-label" for="">Cihaz Kimlik Değeri</label>           
                    <select class="form-control ng-pristine ng-invalid ng-touched" data-live-search="true" name="device-id-value" ng-model="myModel.device-id-value" >
                        <option data-tokens="">-</option>
                        <option data-tokens="">-</option>
                        <option data-tokens="">-</option>
                    </select>
            </div>

        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
                        <button class="btn btn-primary" type="submit">Kaydet </button>
                        <a class="btn btn-danger" href="">İptal</a>
        </div>
    </div>
</form>