<form name="Form" id="form2" novalidate ng-submit="form.submit(Form)"   >
    <div class="row" >
        <div class="col-md-12">

        
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.operator.$dirty && Form.operator.$invalid,'has-success':Form.operator.$dirty && Form.operator.$invalid}">
                    <label class="control-label" for="">Operatör Seçiniz</label>
                        <select class="form-control ng-pristine ng-invalid ng-touched" name="operator" ng-model="myModel.operator" required>
                            <option value="">-</option>
                            <option value="">-</option>
                        </select>
                         <span class="messages text-small block" ng-if="Form.operator.$dirty && Form.operator.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>             
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.gsm-tariff.$dirty && Form.gsm-tariff.$invalid,'has-success':Form.gsm-tariff.$dirty && Form.gsm-tariff.$invalid}">
                    <label class="control-label">Tarife Adı </label>
                    <input type="text" name="gsm-tariff" class="form-control" ng-model="myModel.current-account-code" required/>
                    <span class="messages text-small block" ng-if="Form.gsm-tariff.$dirty && Form.gsm-tariff.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.internet-limit.$dirty && Form.internet-limit.$invalid,'has-success':Form.internet-limit.$dirty && Form.internet-limit.$invalid}">
                    <label class="control-label">İnternet Limiti </label>
                    <input type="text" name="internet-limit" class="form-control" ng-model="myModel.internet-limit" required/>
                    <span class="messages text-small block" ng-if="Form.internet-limit.$dirty && Form.internet-limit.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>
             <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.amount.$dirty && Form.amount.$invalid,'has-success':Form.amount.$dirty && Form.amount.$invalid}">
                    <label class="control-label">Miktar </label>
                    <input type="text" name="amount" class="form-control" ng-model="myModel.amount" required/>
                    <span class="messages text-small block" ng-if="Form.amount.$dirty && Form.amount.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>

        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
                        <button class="btn btn-primary" type="submit">Kaydet </button>
                        <a class="btn btn-danger" href="">İptal</a>
        </div>
    </div>
</form>