<form name="Form" id="form2" novalidate ng-submit="form.submit(Form)"   >
    <div class="row" >
        <div class="col-md-12">

           
         
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.choose-operator.$dirty && Form.choose-operator.$invalid,'has-success':Form.choose-operator.$dirty && Form.choose-operator.$invalid}">
                    <label class="control-label" for="">Operatör Seçiniz</label>
                        <select class="form-control ng-pristine ng-invalid ng-touched" name="choose-operator" ng-model="myModel.choose-operator" required>
                            <option value="">-</option>
                            <option value="">-</option>
                        </select>
                         <span class="messages text-small block" ng-if="Form.choose-operator.$dirty && Form.choose-operator.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>             
            </div>

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.phone-number.$dirty && Form.phone-number.$invalid,'has-success':Form.phone-number.$dirty && Form.phone-number.$invalid}">
                    <label class="control-label">Telefon Numarası * </label>
                    <input type="text" name="phone-number" class="form-control" ng-model="myModel.phone-number" required>
                    <span class="messages text-small block" ng-if="Form.phone-number.$dirty && Form.phone-number.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>
            </div>

        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
                        <button class="btn btn-primary" type="submit">Kaydet </button>
                        <a class="btn btn-danger" href="">İptal</a>
        </div>
    </div>
</form>