<div class="col-md-12">
	

	<div class="col-sm-4" style="float: right;">
		<div class="dropdown-secondary dropdown f-right btn-group">
		     <button type="button"  class="btn btn-primary dropdown-toggle waves-effect waves-light f-right d-inline-block md-trigger" > <i class="icofont icofont-plus m-r-5"></i> Sim Kart Ekle
		     </button>
		   
		</div>
	</div>
	<div class="col-sm-4" style="float: left;">
	                <div class="form-group" ng-class="{'has-error':Form.ara.$dirty && Form.ara.$invalid,'has-success':Form.ara.$dirty && Form.ara.$invalid}">
	                    <label class="control-label">Ara </label>
	                    <input type="text" name="ara" class="form-control" ng-model="myModel.ara" required>
	                </div>
	</div>
</div>
