<form name="Form" id="form2" novalidate ng-submit="form.submit(Form)"   >
    <div class="row" >
        <div class="col-md-12">

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.receipt-id.$dirty && Form.receipt-id.$invalid,'has-success':Form.receipt-id.$dirty && Form.receipt-id.$invalid}">
                    <label class="control-label">Makbuz Numarası * </label>
                    <input type="text" name="receipt-id" class="form-control" ng-model="myModel.receipt-id" required>
                    <span class="messages text-small block" ng-if="Form.receipt-id.$dirty && Form.receipt-id.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.receipt-row-type.$dirty && Form.receipt-row-type.$invalid,'has-success':Form.receipt-row-type.$dirty && Form.receipt-row-type.$invalid}">
                    <label class="control-label" for="">Makbuz Satır Türü</label>
                        <select class="form-control ng-pristine ng-invalid ng-touched" name="receipt-row-type" ng-model="myModel.receipt-row-type" required>
                            <option value="">-</option>
                            <option value="">-</option>
                        </select>
                         <span class="messages text-small block" ng-if="Form.receipt-row-type.$dirty && Form.receipt-row-type.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>             
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.device-branch.$dirty && Form.device-branch.$invalid,'has-success':Form.device-branch.$dirty && Form.device-branch.$invalid}">
                    <label class="control-label">Aygıt Şubesi * </label>
                    <input type="text" name="device-branch" class="form-control" ng-model="myModel.device-branch" required>
                    <span class="messages text-small block" ng-if="Form.device-branch.$dirty && Form.device-branch.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.service-type.$dirty && Form.service-type.$invalid,'has-success':Form.service-type.$dirty && Form.service-type.$invalid}">
                    <label class="control-label">Servis Tipi * </label>
                     <select class="form-control ng-pristine ng-invalid ng-touched" name="service-type" ng-model="myModel.service-type" required>
                            <option value="">-</option>
                           
                        </select>
                    <span class="messages text-small block" ng-if="Form.service-type.$dirty && Form.service-type.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.service.$dirty && Form.service.$invalid,'has-success':Form.service.$dirty && Form.service.$invalid}">
                    <label class="control-label">Servis * </label>
                    <input type="text" name="service" class="form-control" ng-model="myModel.service" required>
                    <span class="messages text-small block" ng-if="Form.service.$dirty && Form.service.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group" ng-class="{'has-error':Form.currency.$dirty && Form.currency.$invalid,'has-success':Form.currency.$dirty && Form.currency.$invalid}">
                    <label class="control-label">Para Birimi </label>
                    <input type="text" name="currency" class="form-control" ng-model="myModel.currency" disabled placeholder="TL">
                   
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group" ng-class="{'has-error':Form.default-tax-ratio.$dirty && Form.default-tax-ratio.$invalid,'has-success':Form.default-tax-ratio.$dirty && Form.default-tax-ratio.$invalid}">
                    <label class="control-label">Varsayılan Vergi Oranı </label>
                    <input type="text" name="default-tax-ratio" class="form-control" ng-model="myModel.default-tax-ratio" disabled placeholder="%8">
                   
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.amount.$dirty && Form.amount.$invalid,'has-success':Form.amount.$dirty && Form.amount.$invalid}">
                    <label class="control-label">Tutar * </label>
                    <input type="text" name="amount" class="form-control" ng-model="myModel.amount" required>
                    <span class="messages text-small block" ng-if="Form.amount.$dirty && Form.amount.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.discount-amount.$dirty && Form.discount-amount.$invalid,'has-success':Form.discount-amount.$dirty && Form.discount-amount.$invalid}">
                    <label class="control-label">İndirim Miktarı * </label>
                    <input type="text" name="discount-amount" class="form-control" ng-model="myModel.discount-amount" required>
                    <span class="messages text-small block" ng-if="Form.discount-amount.$dirty && Form.discount-amount.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.tax-amount.$dirty && Form.tax-amount.$invalid,'has-success':Form.tax-amount.$dirty && Form.tax-amount.$invalid}">
                    <label class="control-label">Vergi Miktarı * </label>
                    <input type="text" name="tax-amount" class="form-control" ng-model="myModel.tax-amount" required>
                    <span class="messages text-small block" ng-if="Form.discount-amount.$dirty && Form.tax-amount.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>






        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
                        <button class="btn btn-primary" type="submit">Kaydet </button>
                        <a class="btn btn-danger" href="">İptal</a>
        </div>
    </div>
</form>