<div class="dropdown-secondary dropdown f-right btn-group">
     <button type="button"  class="btn btn-primary dropdown-toggle waves-effect waves-light f-right d-inline-block md-trigger" > <i class="icofont icofont-plus m-r-5"></i> Fiş Ekle
        </button>
   <div class="col-md-12">
        <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error':Form.service-type.$dirty && Form.service-type.$invalid,'has-success':Form.service-type.$dirty && Form.service-type.$invalid}">
                 <label class="control-label">Fiş Numarasına Göre </label>
                    <select class="form-control ng-pristine ng-invalid ng-touched" name="receipt-no" ng-model="myModel.service-type" required>
                        <option value="">-</option>
                                   
                    </select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error':Form.received-warehouse-name.$dirty && Form.received-warehouse-name.$invalid,'has-success':Form.received-warehouse-name.$dirty && Form.received-warehouse-name.$invalid}">
                 <label class="control-label">Alınan Depoya Göre </label>
                    <select class="form-control ng-pristine ng-invalid ng-touched" name="received-warehouse-name" ng-model="myModel.service-type" required>
                                  <option value="">-</option>
                                   
                    </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error':Form.sent-warehouse-name.$dirty && Form.sent-warehouse-name.$invalid,'has-success':Form.sent-warehouse-name.$dirty && Form.sent-warehouse-name.$invalid}">
                 <label class="control-label">Gönderilen Depoya Göre </label>
                    <select class="form-control ng-pristine ng-invalid ng-touched" name="sent-warehouse-name" ng-model="myModel.service-type" required>
                                  <option value="">-</option>
                                   
                    </select>
            </div>
        </div>
    </div>
</div>
