<div class="right-sidebar-outer">
    <div class="right-sidebar-inner">
        <div class="right-sidebar">
            <div class="bs-nav-tabs nav-tabs-warning justified">
                <ul class="nav nav-tabs nav-animated-border-from-center">
                    <li class="nav-item"> <a ng-href="" class="nav-link active" data-toggle="tab" data-target="#rtab-left">Activities</a>
                    </li>
                    <li class="nav-item"> <a ng-href="" class="nav-link" data-toggle="tab" data-target="#rtab-center">Users</a>
                    </li>
                    <li class="nav-item"> <a ng-href="" class="nav-link" data-toggle="tab" data-target="#rtab-right">Stats</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="rtab-left">
                        <h5>Today</h5>
                        <timeline-widget-4></timeline-widget-4>
                        <h5>Stream</h5>
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="list-group activities">
                                    <li class="list-group-item">
                                        <span class="text-xs pull-right">4 minutes ago</span>
                                        <span class="tag tag-success">charge</span>
                                        <div class="clearfix"></div>
                                        <span class="capitalize">Michael Smith</span>
                                        <span class="text-bold">upgraded to</span> the $50 plan</li>
                                    <li class="list-group-item">
                                        <span class="text-xs pull-right">34 minutes ago</span>
                                        <span class="tag tag-primary">charge</span>
                                        <div class="clearfix"></div>
                                        <span class="capitalize">Jane Perez</span>
                                        <span class="text-bold">canceled</span> the $25 plan</li>
                                    <li class="list-group-item">
                                        <span class="text-xs pull-right">an hour ago</span>
                                        <span class="tag tag-primary">upgrade</span>
                                        <div class="clearfix"></div>
                                        <span class="capitalize">George Clinton from Facebook</span>
                                        <span class="text-bold">upgraded to</span> the $25 plan</li>
                                    <li class="list-group-item">
                                        <span class="text-xs pull-right">2 hours ago</span>
                                        <span class="tag tag-warning">cancelled</span>
                                        <div class="clearfix"></div>
                                        <span class="capitalize">Someone from Google</span>
                                        <span class="text-bold">canceled</span> the $25 plan</li>
                                    <li class="list-group-item">
                                        <span class="text-xs pull-right">2 hours ago</span>
                                        <span class="tag tag-success">upgrade</span>
                                        <div class="clearfix"></div>
                                        <span class="capitalize">Lucas Smith</span>
                                        <span class="text-bold">upgraded to</span> the $25 plan</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="rtab-center">
                        <h5>Online</h5>
                        <user-widget-8 amount="5" items="{{onlineUsers}}" />
                        <h5>Offline</h5>
                        <user-widget-8 amount="10" items="{{offlineUsers}}" />
                    </div>
                    <div class="tab-pane fade" id="rtab-right">
                        <h5>Sales</h5>
                        <div class="m-b-10">
                            <text-widget-1 icon="fa fa-usd" title="Today" amount="1123.99" icon-color="white" circle-color="warning" increment="true" duration="2">
                            </text-widget-1>
                        </div>
                        <div class="m-b-10">
                            <text-widget-1 icon="fa fa-eur" title="Yesterday" amount="1844" icon-color="white" circle-color="success" increment="true" duration="2">
                            </text-widget-1>
                        </div>
                        <div class="m-b-10">
                            <text-widget-1 icon="fa fa-btc" title="This week" amount="7485" icon-color="white" circle-color="danger" increment="true" duration="2">
                            </text-widget-1>
                        </div>
                        <h5>Twitter</h5>
                        <div class="m-b-10">
                            <div class="icon-widget-3 bg-twitter">
                                <div class="row icon">
                                    <div class="col-xs-12 text-center">
                                        <i class="color-white"></i>
                                    </div>
                                </div>
                                <div class="row icons">
                                    <div class="col-xs-12 col-md-4 col-lg-4 text-center">
                                        <div class="amount">
                                            <i class="fa fa-twitter color-white"></i>
                                            <span class="color-white">90</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4 col-lg-4 text-center">
                                        <div class="amount">
                                            <i class="fa fa-comment-o color-white"></i>
                                            <span class="color-white">22</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4 col-lg-4 text-center">
                                        <div class="amount">
                                            <i class="fa fa-star-o color-white"></i>
                                            <span class="color-white">33</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5>Facebook</h5>
                        <div class="m-b-10">
                            <div class="icon-widget-3 bg-facebook">
                                <div class="row icon">
                                    <div class="col-xs-12 text-center">
                                        <i class=" color-white"></i>
                                    </div>
                                </div>
                                <div class="row icons">
                                    <div class="col-xs-12 col-md-4 col-lg-4 text-center">
                                        <div class="amount">
                                            <i class="fa fa-thumbs-o-up color-white"></i>
                                            <span class="color-white">45</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4 col-lg-4 text-center">
                                        <div class="amount">
                                            <i class="fa fa-comment-o color-white"></i>
                                            <span class="color-white">51</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4 col-lg-4 text-center">
                                        <div class="amount">
                                            <i class="fa fa-star-o color-white"></i>
                                            <span class="color-white">13</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5>Google</h5>
                        <div class="m-b-10">
                            <div class="icon-widget-3 bg-google">
                                <div class="row icon">
                                    <div class="col-xs-12 text-center">
                                        <i class=" color-white"></i>
                                    </div>
                                </div>
                                <div class="row icons">
                                    <div class="col-xs-12 col-md-4 col-lg-4 text-center">
                                        <div class="amount">
                                            <i class="fa fa-heart-o color-white"></i>
                                            <span class="color-white">8</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4 col-lg-4 text-center">
                                        <div class="amount">
                                            <i class="fa fa-comment-o color-white"></i>
                                            <span class="color-white">13</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4 col-lg-4 text-center">
                                        <div class="amount">
                                            <i class="fa fa-star-o color-white"></i>
                                            <span class="color-white">44</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5>Poll results</h5>
                        <div class="m-b-10 p-20">
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>
                                        <span class="pull-right">24%</span>
                                        <span>Spain</span>
                                    </p>
                                    <progress class="progress-sm progress progress-warning" value="24" max="100">24%</progress>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>
                                        <span class="pull-right">52%</span>
                                        <span>USA</span>
                                    </p>
                                    <progress class="progress-sm progress progress-danger" value="52" max="100">52%</progress>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>
                                        <span class="pull-right">68%</span>
                                        <span>Australia</span>
                                    </p>
                                    <progress class="progress-sm progress progress-info" value="68" max="100">68%</progress>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>
                                        <span class="pull-right">45%</span>
                                        <span>Sweden</span>
                                    </p>
                                    <progress class="progress-sm progress progress-success" value="45" max="100">45%</progress>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
