<form name="Form" id="form2" novalidate ng-submit="form.submit(Form)"   >
    <div class="row" >
        <div class="col-md-12">
            <div class="col-sm-4"><!--Select olan alanların hepsinde arama özelliği olsun isteniyor -->
                <div class="form-group" ng-class="{'has-error':Form.device-brand-id.$dirty && Form.device-brand-id.$invalid,'has-success':Form.device-brand-id.$dirty && Form.device-brand-id.$invalid}">
                    <label class="control-label" for="">Cihaz Marka Id</label>           
                    <select class="form-control ng-pristine ng-invalid ng-touched" data-live-search="true" name="device-brand-id" ng-model="myModel.device-brand-id" >
                        <option data-tokens="">-</option>
                        <option data-tokens="">-</option>
                        <option data-tokens="">-</option>
                    </select>
            </div>

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.model-name.$dirty && Form.model-name.$invalid,'has-success':Form.model-name.$dirty && Form.model-name.$invalid}">
                    <label class="control-label">Model Adı </label>
                    <input type="text" name="model-name" class="form-control" ng-model="myModel.model-name" required>
                    <span class="messages text-small block" ng-if="Form.model-name.$dirty && Form.model-name.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.connection-id.$dirty && Form.connection-id.$invalid,'has-success':Form.connection-id.$dirty && Form.connection-id.$invalid}">
                    <label class="control-label">Bağlantı Kimliği </label>
                    <input type="text" name="connection-id" class="form-control" ng-model="myModel.connection-id" required>
                    <span class="messages text-small block" ng-if="Form.connection-id.$dirty && Form.connection-id.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.connection-port.$dirty && Form.connection-port.$invalid,'has-success':Form.connection-port.$dirty && Form.software-version.$invalid}">
                    <label class="control-label">Bağlantı Portu</label>
                    <input type="text" name="connection-port" class="form-control" ng-model="myModel.connection-port" required>
                    <span class="messages text-small block" ng-if="Form.connection-port.$dirty && Form.connection-port.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>

        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
                        <button class="btn btn-primary" type="submit">Kaydet </button>
                        <a class="btn btn-danger" href="">İptal</a>
        </div>
    </div>
</form>