<div class="dropdown-secondary dropdown f-right btn-group">
    <div class="dropdown pull-left">
        <button type="button" id="dropdown13" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary dropdown-toggle waves-effect waves-light f-right d-inline-block md-trigger" > <i class="icofont icofont-plus m-r-5"></i> Bayi Ekle
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" tabindex="-1" ng-click="open('lg','Corporate','add')">Kurumsal</a></li>
            <li><a class="dropdown-item" tabindex="-1" ng-click="open('lg','Personal','add')" >Bireysel</a></li>
        </ul>
    </div>

    <div class="dropdown pull-left">
        <button class="btn btn-primary  dropdown-toggle waves-effect waves-light" type="button" id="dropdown12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{type}}</button>
        <div class="dropdown-menu" aria-labelledby="dropdown12" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
            <a class="dropdown-item waves-light waves-effect" ng-click="changeType('Corporate')">
                <span class="point-marker bg-danger"></span>Kurumsal
            </a>
            <a class="dropdown-item waves-light waves-effect" ng-click="changeType('Personal')">
                <span class="point-marker bg-danger"></span>Bireysel
            </a>

        </div>
    </div>
    <!-- end of dropdown menu -->
</div>
