<div class="col-md-12">
   
    <div class="col-md-2" style="float: right;">
        <div class="dropdown pull-left">
            <button style="float: right;" class="btn btn-primary  dropdown-toggle waves-effect waves-light" type="button" id="dropdown12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-plus m-r-5"></i> Müşteri Ekle</button>
            <div class="dropdown-menu" aria-labelledby="dropdown12" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                <a class="dropdown-item waves-light waves-effect" ng-click="changeType('Corporate')">
                    <span class="point-marker bg-danger"></span>Kurumsal
                </a>
                <a class="dropdown-item waves-light waves-effect" ng-click="changeType('Personal')">
                    <span class="point-marker bg-danger"></span>Bireysel
                </a>
                <a class="dropdown-item waves-light waves-effect" ng-click="changeType('Foreigner')">
                    <span class="point-marker bg-danger"></span>Yabancı
                </a>
            </div>
        </div>
    </div>
    <!-- end of dropdown menu -->
</div>
