<div class="dropdown-secondary dropdown f-right btn-group">
     <button type="button"  class="btn btn-primary dropdown-toggle waves-effect waves-light f-right d-inline-block md-trigger" > <i class="icofont icofont-plus m-r-5"></i> Şube Ekle
        </button>
   
</div>
