<form name="Form" id="form2" novalidate ng-submit="form.submit(Form)"   >
    <div class="row" >
        <div class="col-md-12">

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.car brand.$dirty && Form.car brand.$invalid,'has-success':Form.car brand.$dirty && Form.car brand.$invalid}">
                    <label class="control-label" for="">Araç Markası</label>
                        <select class="form-control ng-pristine ng-invalid ng-touched" name="car brand" ng-model="myModel.car brand" required>
                            <option value="">-</option>
                            <option value="">-</option>
                        </select>
                         <span class="messages text-small block" ng-if="Form.car brand.$dirty && Form.car brand.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>             
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.brand-name.$dirty && Form.brand-name.$invalid,'has-success':Form.brand-name.$dirty && Form.brand-name.$invalid}">
                    <label class="control-label">Araç Modeli</label>
                    <input type="text" name="brand-name" class="form-control" ng-model="myModel.brand-name" required>
                    <span class="messages text-small block" ng-if="Form.brand-name.$dirty && Form.brand-name.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>

        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
                        <button class="btn btn-primary" type="submit">Kaydet </button>
                        <a class="btn btn-danger" href="">İptal</a>
        </div>
    </div>
</form>