<form name="Form" id="form2" novalidate ng-submit="form.submit(Form)"   >
    <div class="row" >
        <div class="col-md-12">

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.order-id.$dirty && Form.order-id.$invalid,'has-success':Form.order-id.$dirty && Form.order-id.$invalid}">
                    <label class="control-label">Sipariş Id </label>
                    <input type="text" name="order-id" class="form-control" ng-model="myModel.order-id" >
                    
                </div>
            </div>
            <div class="col-sm-4">    
                <div class="form-group" ng-class="{'has-error':Form.item-number.$dirty && Form.item-number.$invalid,'has-success':Form.item-number.$dirty && Form.item-number.$invalid}">
                    <label class="control-label">Sipariş Adedi * </label>
                    <input type="text" name="item-number" class="form-control" ng-model="myModel.item-number" required\>
                    <span class="messages text-small block" ng-if="Form.item-number.$dirty && Form.item-number.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">    
                <div class="form-group" ng-class="{'has-error':Form.product.$dirty && Form.product.$invalid,'has-success':Form.product.$dirty && Form.product.$invalid}">
                    <label class="control-label">Ürün Tanımı * </label>
                    <input type="text" name="product" class="form-control" ng-model="myModel.product" required\>
                    <span class="messages text-small block" ng-if="Form.item-number.$dirty && Form.item-number.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">    
                <div class="form-group" ng-class="{'has-error':Form.unit-price.$dirty && Form.unit-price.$invalid,'has-success':Form.unit-price.$dirty && Form.unit-price.$invalid}">
                    <label class="control-label">Birim Fiyatı * </label>
                    <input type="text" name="unit-price" class="form-control" ng-model="myModel.unit-price" required\>
                    <span class="messages text-small block" ng-if="Form.unit-price.$dirty && Form.unit-price.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>
            </div>

        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
                        <button class="btn btn-primary" type="submit">Kaydet </button>
                        <a class="btn btn-danger" href="">İptal</a>
        </div>
    </div>
</form>