<form name="Form" id="form2" novalidate ng-submit="form.submit(Form)"   >
    <div class="row" >
        <div class="col-md-12">

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.user-name.$dirty && Form.user-name.$invalid,'has-success':Form.user-name.$dirty && Form.user-name.$invalid}">
                    <label class="control-label">Kullanıcı Adı * </label>
                    <input type="text" name="user-name" class="form-control" ng-model="myModel.user-name" required>
                    <span class="messages text-small block" ng-if="Form.user-name.$dirty && Form.user-name.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">    
                <div class="form-group" ng-class="{'has-error':Form.password.$dirty && Form.password.$invalid,'has-success':Form.password.$dirty && Form.password.$invalid}">
                    <label class="control-label">Şifre * </label>
                    <input type="text" name="password" class="form-control" ng-model="myModel.password"  required\>
                    <span class="messages text-small block" ng-if="Form.password.$dirty && Form.password.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.customer-id.$dirty && Form.customer-id.$invalid,'has-success':Form.customer-id.$dirty && Form.customer-id.$invalid}">
                    <label class="control-label" for="">Müşteri Grubu</label>
                        <select class="form-control ng-pristine ng-invalid ng-touched" name="customer-id" ng-model="myModel.customer-id" required>
                            <option value="">-</option>
                            <option value="">-</option>
                        </select>
                         <span class="messages text-small block" ng-if="Form.customer-id.$dirty && Form.customer-id.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>             
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.person-id.$dirty && Form.person-id.$invalid,'has-success':Form.person-id.$dirty && Form.person-id.$invalid}">
                    <label class="control-label" for="">Kullanıcı Grubu</label>
                        <select class="form-control ng-pristine ng-invalid ng-touched" name="person-id" ng-model="myModel.person-id" required>
                            <option value="">-</option>
                            <option value="">-</option>
                        </select>
                         <span class="messages text-small block" ng-if="Form.person-id.$dirty && Form.person-id.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>             
            </div>

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.email.$dirty && Form.email.$invalid,'has-success':Form.email.$dirty && Form.email.$invalid}">
                    <label class="control-label">Email * </label>
                    <input type="text" name="email" class="form-control" ng-model="myModel.email" required>
                    <span class="messages text-small block" ng-if="Form.email.$dirty && Form.email.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>

        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
                        <button class="btn btn-primary" type="submit">Kaydet </button>
                        <a class="btn btn-danger" href="">İptal</a>
        </div>
    </div>
</form>