<div class="table-responsive"  ng-controller="members">
    <script type="text/ng-template" id="add.html">

        <div class="modal-body " style="display: inline-block"  >
            <ng-include src="getAdd()"></ng-include>
        </div>

    </script>
    <script type="text/ng-template" id="edit.html">

        <div class="modal-body " style="display: inline-block"  >
            <ng-include src="getEdit()"></ng-include>
        </div>

    </script>
    <script type="text/ng-template" id="delete.html">

        <div class="modal-body " style="display: inline-block"  >
            <ng-include src="getDelete()"></ng-include>
        </div>

    </script>

  
 
    <div class="table-content">
        <div class="card-block">
           <div> Harita Alanı</div>
        </div>
    </div>
</div>
