<div class="dropdown-secondary dropdown f-right btn-group">
      <div class="col-md-12">
       <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.customer.$dirty && Form.customer.$invalid,'has-success':Form.customer.$dirty && Form.customer.$invalid}">
                    <label class="control-label" for="">Müşteri Seçiniz</label>
                        <select class="form-control ng-pristine ng-invalid ng-touched" name="customer" ng-model="myModel.customer" required>
                            <option value="">-</option>
                            <option value="">-</option>
                        </select>
                        <span class="messages text-small block" ng-if="Form.customer.$dirty && Form.customer.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>             
        </div>
        <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.vehicle.$dirty && Form.vehicle.$invalid,'has-success':Form.vehicle.$dirty && Form.vehicle.$invalid}">
                    <label class="control-label" for="">Araç Seçiniz</label>
                        <select class="form-control ng-pristine ng-invalid ng-touched" name="vehicle" ng-model="myModel.vehicle" required>
                            <option value="">-</option>
                            <option value="">-</option>
                        </select>
                        <span class="messages text-small block" ng-if="Form.vehicle.$dirty && Form.vehicle.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>             
        </div>
        <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.device.$dirty && Form.device.$invalid,'has-success':Form.device.$dirty && Form.device.$invalid}">
                    <label class="control-label" for="">Cihaz Seçiniz</label>
                        <select class="form-control ng-pristine ng-invalid ng-touched" name="device" ng-model="myModel.device" required>
                            <option value="">-</option>
                            <option value="">-</option>
                        </select>
                        <span class="messages text-small block" ng-if="Form.device.$dirty && Form.device.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>             
        </div>
    </div>
   
</div>
