<form name="Form" id="form2s" novalidate ng-submit="form.submit(Form)"   >
    <div class="modal-body " style="display: inline-block" >
        <div class="row" >
            <div class="col-md-12">

                <div class="col-sm-4">
                    <div class="form-group" ng-class="{'has-error':Form.company-name.$dirty && Form.company-name.$invalid,'has-success':Form.company-name.$dirty && Form.company-name.$invalid}">
                        <label class="control-label">Firma Adı * </label>
                        <input type="text" name="company-name" class="form-control" ng-model="myModel.company-name" required>
                        <span class="messages text-small block" ng-if="Form.company-name.$dirty && Form.company-name.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group" ng-class="{'has-error':Form.company-adress.$dirty && Form.company-adress.$invalid,'has-success':Form.company-adress.$dirty && Form.company-adress.$invalid}">
                        <label class="control-label">Firma Adresi </label>
                        <textarea rows="4" cols="50" name="company-adress" ng-model="myModel.company-adress" ></textarea>

                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group" ng-class="{'has-error':Form.tax-d.$dirty && Form.tax-d.$invalid,'has-success':Form.tax-d.$dirty && Form.tax-d.$invalid}">
                        <label class="control-label">Vergi Dairesi</label>
                        <input type="text" name="tax-d" class="form-control" ng-model="myModel.tax-d" />

                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group" ng-class="{'has-error':Form.tax-no.$dirty && Form.tax-no.$invalid,'has-success':Form.tax-no.$dirty && Form.tax-no.$invalid}">
                        <label class="control-label">Vergi Numarası </label>
                        <input type="text" name="tax-no" class="form-control" ng-model="myModel.tax-no" required>
                        <span class="messages text-small block" ng-if="Form.tax-no.$dirty && Form.tax-no.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group" ng-class="{'has-error':Form.company-establishment-date.$dirty && Form.company-establishment-date.$invalid,'has-success':Form.company-establishment-date.$dirty && Form.company-establishment-date.$invalid}">
                        <label class="control-label" >Firma Kuruluş Tarihi</label>
                        <input class="form-control date ng-pristine ng-valid picker-input ng-touched" name="company-establishment-date" ng-model="myModel.company-establishment-date" type="text" data-id="datedropper-0" >
                        <!---->
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit"   ng-click="ok()" class="btn btn-success">Kaydet</button>
        <button type="button" class="btn btn-danger"  ng-click="cancel()">Kapat</button>
    </div>
</form>