 <form name="Form" id="form2" novalidate ng-submit="form.submit(Form)"   >
    <div class="row" >
        <div class="col-md-12">


            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid,'has-success':Form.name.$dirty && Form.name.$invalid}">
                    <label class="control-label">İsim * </label>
                    <input type="text" name="name" class="form-control" ng-model="myModel.name" required/>
                    <span class="messages text-small block" ng-if="Form.name.$dirty && Form.name.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.lastName.$dirty && Form.lastName.$invalid,'has-success':Form.lastName.$dirty && Form.lastName.$invalid}">
                    <label class="control-label">Soy İsim * </label>
                    <input type="text" name="lastName" class="form-control" ng-model="myModel.lastName" required/>
                    <span class="messages text-small block" ng-if="Form.lastName.$dirty && Form.lastName.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>
            </div>  

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.passport-number.$dirty && Form.passport-number.$invalid,'has-success':Form.passport-number.$dirty && Form.passport-number.$invalid}">
                    <label class="control-label">Pasaport Numarası </label>
                    <input type="text" name="passport-number" class="form-control" ng-model="myModel.passport-number" required/>
                     <span class="messages text-small block" ng-if="Form.passport-number.$dirty && Form.passport-number.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>
            </div> 
            

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.gender.$dirty && Form.gender.$invalid,'has-success':Form.gender.$dirty && Form.gender.$invalid}">
                    <label class="control-label" for="">Cinsiyet</label>
                        <select class="form-control ng-pristine ng-invalid ng-touched" name="gender" ng-model="myModel.gender" required>
                            <option value="Male">Erkek</option>
                            <option value="Female">Kadın</option>
                        </select>
                         <span class="messages text-small block" ng-if="Form.gender.$dirty && Form.gender.$invalid ">Lüften Cinsiyet alanını boş bırakmayınız</span>
                </div>             
            </div>

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.birth.$dirty && Form.birth.$invalid,'has-success':Form.birth.$dirty && Form.birth.$invalid}">
                    <label class="control-label">Doğum Yeri </label>
                    <input type="text" name="birth" class="form-control" ng-model="myModel.birth" />
                    
                </div>
            </div> 

            <div class="col-sm-4">
                 <div class="form-group" ng-class="{'has-error':Form.date-of-birth.$dirty && Form.date-of-birth.$invalid,'has-success':Form.date-of-birth.$dirty && Form.date-of-birth.$invalid}">
                          <label class="control-label" for="">Doğum Tarihi</label>
                          <input class="form-control date picker-input" name="date-of-birth" data-lang="tr" data-large-mode="true" type="text" data-id="datedropper-1"  ng-model="myModel.date-of-birth" >
                 </div>
            </div>

            <div class="col-sm-4">
                 <div class="form-group" ng-class="{'has-error':Form.education-status.$dirty && Form.education-status.$invalid,'has-success':Form.education-status.$dirty && Form.education-status.$invalid}">
                          <label class="control-label" for="">Eğitim Durumu</label>
                        <select class="form-control ng-pristine ng-valid ng-touched" id="addCustomerType" name="education-status" ng-model="myModel.education-status">
                                <option value="">Seçiniz</option>
                                <option value="PrimarySchool">PrimarySchool</option>
                                <option value="SecondarySchool">SecondarySchool</option>
                                <option value="HighSchool">HighSchool</option>
                                <option value="TwoYearDegree">TwoYearDegree</option>
                                <option value="BachelorsLevel">BachelorsLevel</option>
                                <option value="PostGraduate">PostGraduate</option>
                                <option value="Doctorate">Doctorate</option>
                        </select>
                </div>       
            </div>

            <div class="col-sm-12" style="margin-top: 10px;">
                        <button class="btn btn-primary" type="submit">Kaydet </button>
                        <a class="btn btn-danger" href="">İptal</a>
            </div>





        </div>

    </div>
</form>