<div class="dropdown-secondary dropdown f-right btn-group">
    <button type="button" class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger" > <i class="icofont icofont-plus m-r-5"></i> Müşteri Ekle
    </button>
    <button class="btn btn-primary  dropdown-toggle waves-effect waves-light" type="button" id="dropdown12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{type}}</button>
    <div class="dropdown-menu" aria-labelledby="dropdown12" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
        <a class="dropdown-item waves-light waves-effect" ng-click="changeType('Corporate')">
            <span class="point-marker bg-danger"></span>Kurumsal
        </a>
        <a class="dropdown-item waves-light waves-effect" ng-click="changeType('Personal')">
            <span class="point-marker bg-danger"></span>Bireysel
        </a>
        <a class="dropdown-item waves-light waves-effect" ng-click="changeType('Foreigner')">
            <span class="point-marker bg-danger"></span>Yabancı
        </a>
    </div>
    <!-- end of dropdown menu -->
</div>
