<div class="dropdown-secondary dropdown f-right btn-group">
    <div class="col-md-12">
        
            <div class="dropdown pull-left" style="float: right;">
                <button type="button" id="dropdown13" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary dropdown-toggle waves-effect waves-light f-right d-inline-block md-trigger" > <i class="icofont icofont-plus m-r-5"></i> Müşteri Ekle
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" tabindex="-1" ng-click="open('lg','Corporate','add.html')">Kurumsal</a></li>
                    <li><a class="dropdown-item" tabindex="-1" ng-click="open('lg','Personal','add.html')" >Bireysel</a></li>
                    <li><a class="dropdown-item" tabindex="-1"  ng-click="open('lg','Foreigner','add.html')">Yabancı</a></li>
                </ul>
            </div>
            <div class="dropdown pull-left" style="float: left;margin-right: 5px;">
                <button class="btn btn-primary  dropdown-toggle waves-effect waves-light" type="button" id="dropdown12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{type}}</button>
                <div class="dropdown-menu" aria-labelledby="dropdown12" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                    <a class="dropdown-item waves-light waves-effect" ng-click="changeType('Corporate')">
                        <span class="point-marker bg-danger"></span>Kurumsal
                    </a>
                    <a class="dropdown-item waves-light waves-effect" ng-click="changeType('Personal')">
                        <span class="point-marker bg-danger"></span>Bireysel
                    </a>
                    <a class="dropdown-item waves-light waves-effect" ng-click="changeType('Foreigner')">
                        <span class="point-marker bg-danger"></span>Yabancı
                    </a>
                </div>
            </div>
       
    </div>
    <!-- end of dropdown menu -->
</div>
