<form name="Form" id="form2" novalidate ng-submit="form.submit(Form)"   >
    <div class="row" >
        <div class="col-md-12">

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.person-type.$dirty && Form.person-type.$invalid,'has-success':Form.person-type.$dirty && Form.person-type.$invalid}">
                    <label class="control-label" for="">Müşteri Seçiniz</label>
                        <select class="form-control ng-pristine ng-invalid ng-touched" name="person-type" ng-model="myModel.person-type" required>
                            <option value="">-</option>
                            <option value="">-</option>
                        </select>
                         <span class="messages text-small block" ng-if="Form.gender.$dirty && Form.gender.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>             
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid,'has-success':Form.name.$dirty && Form.name.$invalid}">
                    <label class="control-label">İsim * </label>
                    <input type="text" name="name" class="form-control" ng-model="myModel.name" required/>
                    <span class="messages text-small block" ng-if="Form.name.$dirty && Form.name.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.lastName.$dirty && Form.lastName.$invalid,'has-success':Form.lastName.$dirty && Form.lastName.$invalid}">
                    <label class="control-label">Soy İsim * </label>
                    <input type="text" name="lastName" class="form-control" ng-model="myModel.lastName" required/>
                    <span class="messages text-small block" ng-if="Form.lastName.$dirty && Form.lastName.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>  

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.tc.$dirty && Form.tc.$invalid,'has-success':Form.tc.$dirty && Form.tc.$invalid}">
                    <label class="control-label">Tc Kimlik No </label>
                    <input type="text" name="tc" class="form-control" ng-model="myModel.tc" \>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.gender.$dirty && Form.gender.$invalid,'has-success':Form.gender.$dirty && Form.gender.$invalid}">
                    <label class="control-label" for="">Cinsiyet</label>
                        <select class="form-control ng-pristine ng-invalid ng-touched" name="gender" ng-model="myModel.gender" required>
                            <option value="Male">Erkek</option>
                            <option value="Female">Kadın</option>
                        </select>
                         <span class="messages text-small block" ng-if="Form.gender.$dirty && Form.gender.$invalid ">Lüften Cinsiyet alanını boş bırakmayınız</span>
                </div>             
            </div>

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.birth.$dirty && Form.birth.$invalid,'has-success':Form.birth.$dirty && Form.birth.$invalid}">
                    <label class="control-label">Doğum Yeri </label>
                    <input type="text" name="birth" class="form-control" ng-model="myModel.birth" />
                    
                </div>
            </div> 

            <div class="col-sm-4">
                 <div class="form-group" ng-class="{'has-error':Form.date-of-birth.$dirty && Form.date-of-birth.$invalid,'has-success':Form.date-of-birth.$dirty && Form.date-of-birth.$invalid}">
                          <label class="control-label" for="">Doğum Tarihi</label>
                          <input class="form-control date picker-input" name="date-of-birth" data-lang="tr" data-large-mode="true" type="text" data-id="datedropper-1"  ng-model="myModel.date-of-birth" >
                 </div>
            </div>

            <div class="col-sm-4">
                 <div class="form-group" ng-class="{'has-error':Form.education-status.$dirty && Form.education-status.$invalid,'has-success':Form.education-status.$dirty && Form.education-status.$invalid}">
                          <label class="control-label" for="">Eğitim Durumu</label>
                        <select class="form-control ng-pristine ng-valid ng-touched" id="addCustomerType" name="education-status" ng-model="myModel.education-status">
                                <option value="">Seçiniz</option>
                                <option value="PrimarySchool">PrimarySchool</option>
                                <option value="SecondarySchool">SecondarySchool</option>
                                <option value="HighSchool">HighSchool</option>
                                <option value="TwoYearDegree">TwoYearDegree</option>
                                <option value="BachelorsLevel">BachelorsLevel</option>
                                <option value="PostGraduate">PostGraduate</option>
                                <option value="Doctorate">Doctorate</option>
                        </select>
                </div>       
            </div>

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.identity-serial-no.$dirty && Form.identity-serial-no.$invalid,'has-success':Form.identity-serial-no.$dirty && Form.identity-serial-no.$invalid}">
                    <label class="control-label">Kimlik Seri Numarası </label>
                    <input type="text" name="identity-serial-no" class="form-control" ng-model="myModel.identity-serial-no" />
                    
                </div>
            </div> 

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.identification-no.$dirty && Form.identification-no.$invalid,'has-success':Form.identification-no.$dirty && Form.identification-no.$invalid}">
                    <label class="control-label">Kimlik Numarası </label>
                    <input type="text" name="identification-no" class="form-control" ng-model="myModel.identification-no" />
                    
                </div>
            </div> 

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.c-number.$dirty && Form.c-number.$invalid,'has-success':Form.c-number.$dirty && Form.c-number.$invalid}">
                    <label class="control-label">Cilt No </label>
                    <input type="text" name="c-number" class="form-control" ng-model="myModel.c-number" />
                    
                </div>
            </div> 

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.family-sequence-no.$dirty && Form.family-sequence-no.$invalid,'has-success':Form.family-sequence-no.$dirty && Form.family-sequence-no.$invalid}">
                    <label class="control-label">Aile Sıra No</label>
                    <input type="text" name="family-sequence-no" class="form-control" ng-model="myModel.family-sequence-no" />
                    
                </div>
            </div> 

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.row-no.$dirty && Form.row-no.$invalid,'has-success':Form.row-no.$dirty && Form.row-no.$invalid}">
                    <label class="control-label">Sıra No </label>
                    <input type="text" name="row-no" class="form-control" ng-model="myModel.row-no" />
                    
                </div>
            </div> 

            <div class="col-sm-12" style="margin-top: 10px;">
                        <button class="btn btn-primary" type="submit">Kaydet </button>
                        <a class="btn btn-danger" href="">İptal</a>
            </div>





        </div>

    </div>
</form>