<div class="table-responsive"  ng-controller="members">
    <script type="text/ng-template" id="add.html">

        <div class="modal-body " style="display: inline-block"  >
            <ng-include src="getAdd()"></ng-include>
        </div>

    </script>
    <script type="text/ng-template" id="edit.html">

        <div class="modal-body " style="display: inline-block"  >
            <ng-include src="getEdit()"></ng-include>
        </div>

    </script>
    <script type="text/ng-template" id="delete.html">

        <div class="modal-body " style="display: inline-block"  >
            <ng-include src="getDelete()"></ng-include>
        </div>

    </script>

    <script type="text/ng-template" id="custom/pager">
        <ul class="pager ng-cloak">
            <li ng-repeat="page in pages"
                ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type" class="paginate_button page-item ">
                <a class="page-link" ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Önceki</a>
                <a class="page-link"  ng-switch-when="next" ng-click="params.page(page.number)" href="">Sonraki &raquo;</a>
            </li>
            <li>
                <div class="btn-group">
                    <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                    <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                    <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                    <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                </div>
            </li>
        </ul>
    </script>

    
    <div class="table-content">
        <div class="project-table">
            <table    class="table table-bordered table-striped dt-responsive nowrap">
                <thead>
                <tr>
                    <th>ID</th>
                    <th ng-if="type == 'Personal'">Ad Soyad</th>
                    <th ng-if="type == 'Corporate'">Kurumsal</th>
                    <th ng-if="type == 'Personal'">T.C Kimlik No</th>
                    <th ng-if="type == 'Corporate'">Vergi Kimlik No</th>
                    <th >Üyelik Tarihi</th>
                    <th>İşlem</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="tableParams.data.length <=0">
                    <td colspan="7" class="text-center">
                        Henüz Bir İşlem Oluşturmadınız.
                    </td>

                </tr>

                <tr ng-repeat="p in  tableParams.data" >

                    <td class="pro-list-img">
                        {{p.Id}}
                    </td>
                    <td ng-if="type == 'Personal'" class="pro-name" data-title="'Ad Soyad'">
                        <h6>{{p.Name}} {{p.Surname}}</h6>
                    </td>
                    <td ng-if="type == 'Corporate'" class="pro-name">
                        <h6>{{p.CorporateTitle}}</h6>
                    </td>
                    <td  ng-show="type == 'Personal'">{{p.Tckn}}</td>
                    <td  ng-show="type == 'Corporate'">{{p.CorporateTaxNumber}}</td>
                    <td>
                        {{p.MembershipStartDate}}
                    </td>
                    <td class="action-icon">
                        <a href="#!" class="m-r-15 text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="icofont icofont-ui-edit"></i></a>
                        <a href="#!" class="text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="icofont icofont-delete-alt"></i></a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
