<a class="nav-link dropdown-toggle no-after" data-toggle="dropdown" ng-href="">
    <i class="fa fa-plus"></i>
    <span class="nav-link-text">Navigation</span>
</a>
<div class="dropdown-menu mega-menu-1 dropdown-menu-scale from-left">
    <div ng-repeat="menu in items">
        <ul class="list-unstyled" ng-repeat="section in menu.items">
            <li ng-if="section.items.length == 0">
                <a ng-href="{{section.url}}" class="title">
                    <i class="{{section.icon}} md-icon pull-left"></i>
                    <span>{{section.title}}</span>
                </a>
            </li>
            <li ng-if="section.items.length > 0">
                <a ng-href="" class="title">
                    <i class="{{section.icon}} md-icon pull-left"></i>
                    <span>{{section.title}}</span>
                </a>
                <ul class="list-unstyled">
                    <li ng-repeat="category in section.items">
                        <a ng-href="" ng-click="setLayout(category.id)" ng-if="section.id === 'layouts'" data-id="{{category.id}}" data-click="set-layout">
                            <span>{{category.title}}</span>
                        </a>
                        <a ng-href="{{category.url}}" ng-if="section.id !== 'layouts'">
                            <span>{{category.title}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
