<nav class="navbar navbar-fixed-top navbar-1" >
    <a class="navbar-brand" ng-href="/#/"><img src="_assets/images/logo.png" width="120"></a>
    <ul class="nav navbar-nav pull-left toggle-layout">
        <li class="nav-item">
            <a class="nav-link" ng-href="" ng-click="toggleLayout()" data-click="toggle-layout">
                <i class="zmdi zmdi-menu"></i>
            </a>
        </li>
    </ul>






    <!-- profile -->
    <ul class="nav navbar-nav pull-right hidden-lg-down navbar-profile">
        <li class="nav-item dropdown">
            <a ng-href="" class="nav-link dropdown-toggle no-after" data-toggle="dropdown">
                <i class="fa fa-user" style="font-size: 20px;"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-scale from-right dropdown-menu-right">
                <a ng-href="/#/email/inbox" class="dropdown-item animated fadeIn">
                    <i class="fa fa-credit-card "></i>

                    <span class="dropdown-text">Hesabım</span>
                </a>
                <a ng-href="/#/pages/profile" class="dropdown-item animated fadeIn">
                    <i class="zmdi zmdi-settings-square"></i>
                    <span class="dropdown-text">Ayarlarım</span>
                </a>

                <a  href="#" class="dropdown-item animated fadeIn">
                    <i class="zmdi zmdi-power"></i>
                    <span class="dropdown-text">Çıkış</span>
                </a>
            </div>
        </li>
    </ul>
    <!-- direction -->

</nav>

