<form name="Form" id="form2" novalidate ng-submit="form.submit(Form)"   >
    <div class="row" >
        <div class="col-md-12">

        
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.bank-name.$dirty && Form.bank-name.$invalid,'has-success':Form.bank-name.$dirty && Form.bank-name.$invalid}">
                    <label class="control-label" for="">Banka Seçiniz</label>
                        <select class="form-control ng-pristine ng-invalid ng-touched" name="bank-name" ng-model="myModel.bank-name" required>
                            <option value="">-</option>
                            <option value="">-</option>
                        </select>
                         <span class="messages text-small block" ng-if="Form.bank-name.$dirty && Form.bank-name.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>             
            </div>
           

        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
                        <button class="btn btn-primary" type="submit">Kaydet </button>
                        <a class="btn btn-danger" href="">İptal</a>
        </div>
    </div>
</form>