<form name="Form" id="form2" novalidate ng-submit="form.submit(Form)"   >
    <div class="row" >
        <div class="col-md-12">

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.user-group.$dirty && Form.user-group.$invalid,'has-success':Form.user-group.$dirty && Form.user-group.$invalid}">
                    <label class="control-label">Kullanıcı Grubu * </label>
                    <input type="text" name="user-group" class="form-control" ng-model="myModel.user-group" required>
                    <span class="messages text-small block" ng-if="Form.user-grubu.$dirty && Form.user-group.$invalid ">Lüften bu alanı boş bırakmayınız</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
                        <button class="btn btn-primary" type="submit">Kaydet </button>
                        <a class="btn btn-danger" href="">İptal</a>
        </div>
    </div>
</form>