<form name="Form" id="form2" novalidate ng-submit="form.submit(Form)"   >
    <div class="row" >
        <div class="col-md-12">
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.current-account-code.$dirty && Form.current-account-code.$invalid,'has-success':Form.current-account-code.$dirty && Form.current-account-code.$invalid}">
                    <label class="control-label">Cari Hesap Kodu </label>
                    <input type="text" name="current-account-code" class="form-control" ng-model="myModel.current-account-code" required/>
                    <span class="messages text-small block" ng-if="Form.current-account-code.$dirty && Form.current-account-code.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.current-account-name.$dirty && Form.current-account-name.$invalid,'has-success':Form.current-account-name.$dirty && Form.current-account-name.$invalid}">
                    <label class="control-label">Cari Hesap Adı </label>
                    <input type="text" name="current-account-name" class="form-control" ng-model="myModel.current-account-code" required/>
                    <span class="messages text-small block" ng-if="Form.current-account-name.$dirty && Form.current-account-name.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.order-corporate-chs-name.$dirty && Form.order-corporate-chs-name.$invalid,'has-success':Form.order-corporate-chs-name.$dirty && Form.order-corporate-chs-name.$invalid}">
                    <label class="control-label">Diğer Kurumsal Cari Hesap Sahibi Adı </label>
                    <input type="text" name="order-corporate-chs-name" class="form-control" ng-model="myModel.order-corporate-chs-name" required/>
                    <span class="messages text-small block" ng-if="Form.order-corporate-chs-name.$dirty && Form.order-corporate-chs-name.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>
            </div> 
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.short-name.$dirty && Form.short-name.$invalid,'has-success':Form.short-name.$dirty && Form.short-name.$invalid}">
                    <label class="control-label">Kısa Ad</label>
                    <input type="text" name="short-name" class="form-control" ng-model="myModel.short-name" required/>
                    <span class="messages text-small block" ng-if="Form.short-name.$dirty && Form.short-name.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.tax-d.$dirty && Form.tax-d.$invalid,'has-success':Form.tax-d.$dirty && Form.tax-d.$invalid}">
                    <label class="control-label">Vergi Dairesi</label>
                    <input type="text" name="tax-d" class="form-control" ng-model="myModel.tax-d" required/>
                    <span class="messages text-small block" ng-if="Form.tax-no.$dirty && Form.tax-d.$invalid ">Lüften bu alanını boş bırakmayınız</span>
            </div>
            </div> 
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.tax-no.$dirty && Form.tax-no.$invalid,'has-success':Form.tax-no.$dirty && Form.tax-no.$invalid}">
                    <label class="control-label">Vergi Numarası </label>
                    <input type="text" name="tax-no" class="form-control" ng-model="myModel.tax-no" required>
                    <span class="messages text-small block" ng-if="Form.tax-no.$dirty && Form.tax-no.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">
                 <div class="form-group" ng-class="{'has-error':Form.company-establishment-date.$dirty && Form.company-establishment-date.$invalid,'has-success':Form.company-establishment-date.$dirty && Form.company-establishment-date.$invalid}">
                <label class="control-label" for="">Kuruluş Tarihi</label>
                <input class="form-control date ng-pristine ng-valid picker-input ng-touched" name="company-establishment-date" ng-model="myModel.company-establishment-date" type="text" data-id="datedropper-0" >
                          <!---->
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.vat-no.$dirty && Form.vat-no.$invalid,'has-success':Form.vat-no.$dirty && Form.vat-no.$invalid}">
                    <label class="control-label">Vat Numarası </label>
                    <input type="text" name="vat-no" class="form-control" ng-model="myModel.vat-no" required>
                    <span class="messages text-small block" ng-if="Form.vat-no.$dirty && Form.vat-no.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-12" style="margin-top: 10px;">
                        <button class="btn btn-primary" type="submit">Kaydet </button>
                        <a class="btn btn-danger" href="">İptal</a>
            </div>
           
            
        </div>

    </div>
</form>