<form name="Form" id="form2" novalidate ng-submit="form.submit(Form)"   >
    <div class="row" >
        <div class="col-md-12">

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.current-account-code.$dirty && Form.current-account-code.$invalid,'has-success':Form.current-account-code.$dirty && Form.current-account-code.$invalid}">
                    <label class="control-label">Cari Hesap Kodu </label>
                    <input type="text" name="current-account-code" class="form-control" ng-model="myModel.current-account-code" required/>
                    <span class="messages text-small block" ng-if="Form.current-account-code.$dirty && Form.current-account-code.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.current-account-name.$dirty && Form.current-account-name.$invalid,'has-success':Form.current-account-name.$dirty && Form.current-account-name.$invalid}">
                    <label class="control-label">Cari Hesap Adı </label>
                    <input type="text" name="current-account-name" class="form-control" ng-model="myModel.current-account-code" required/>
                    <span class="messages text-small block" ng-if="Form.current-account-name.$dirty && Form.current-account-name.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.order-foreigner-chs-name.$dirty && Form.order-foreigner-chs-name.$invalid,'has-success':Form.order-foreigner-chs-name.$dirty && Form.order-foreigner-chs-name.$invalid}">
                    <label class="control-label">Diğer Yabancı Cari Hesap Sahibi Adı </label>
                    <input type="text" name="order-foreigner-chs-name" class="form-control" ng-model="myModel.order-foreigner-chs-name" required/>
                    <span class="messages text-small block" ng-if="Form.order-foreigner-chs-name.$dirty && Form.order-foreigner-chs-name.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>
            </div> 
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.short-name.$dirty && Form.short-name.$invalid,'has-success':Form.short-name.$dirty && Form.short-name.$invalid}">
                    <label class="control-label">Kısa Ad</label>
                    <input type="text" name="short-name" class="form-control" ng-model="myModel.short-name" required/>
                    <span class="messages text-small block" ng-if="Form.short-name.$dirty && Form.short-name.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.passport-number.$dirty && Form.passport-number.$invalid,'has-success':Form.passport-number.$dirty && Form.passport-number.$invalid}">
                    <label class="control-label">Pasaport Numarası </label>
                    <input type="text" name="passport-number" class="form-control" ng-model="myModel.passport-number" required/>
                     <span class="messages text-small block" ng-if="Form.passport-number.$dirty && Form.passport-number.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>
            </div> 


        </div>

    </div>
</form>