<form name="Form" id="form2" novalidate ng-submit="form.submit(Form)"   >
    <div class="row" >
        <div class="col-md-12">
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.current-account-code.$dirty && Form.current-account-code.$invalid,'has-success':Form.current-account-code.$dirty && Form.current-account-code.$invalid}">
                    <label class="control-label">Cari Hesap Kodu </label>
                    <input type="text" name="current-account-code" class="form-control" ng-model="myModel.current-account-code" required/>
                    <span class="messages text-small block" ng-if="Form.current-account-code.$dirty && Form.current-account-code.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div> 
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.current-account-name.$dirty && Form.current-account-name.$invalid,'has-success':Form.current-account-name.$dirty && Form.current-account-name.$invalid}">
                    <label class="control-label">Cari Hesap Adı </label>
                    <input type="text" name="current-account-name" class="form-control" ng-model="myModel.current-account-code" required/>
                    <span class="messages text-small block" ng-if="Form.current-account-name.$dirty && Form.current-account-name.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.customer.$dirty && Form.customer.$invalid,'has-success':Form.customer.$dirty && Form.customer.$invalid}">
                    <label class="control-label" for="">Müşteri</label>
                        <select class="form-control ng-pristine ng-invalid ng-touched" name="customer" ng-model="myModel.customer" required>
                            
                            <option value="Female">-</option>
                        </select>
                         <span class="messages text-small block" ng-if="Form.customer.$dirty && Form.customer.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>             
            </div>
            <div class="col-sm-12" style="margin-top: 10px;">
                        <button class="btn btn-primary" type="submit">Kaydet </button>
                        <a class="btn btn-danger" href="">İptal</a>
            </div>
            
        </div>

    </div>
</form>