<form name="Form" id="form2" novalidate ng-submit="form.submit(Form)"   >
    <div class="row" >
        <div class="col-md-12">

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.branch-name.$dirty && Form.branch-name.$invalid,'has-success':Form.branch-name.$dirty && Form.branch-name.$invalid}">
                    <label class="control-label">Şube Adı * </label>
                    <input type="text" name="branch-name" class="form-control" ng-model="myModel.branch-name" required>
                    <span class="messages text-small block" ng-if="Form.branch-name.$dirty && Form.branch-name.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">    
                <div class="form-group" ng-class="{'has-error':Form.personal.$dirty && Form.personal.$invalid,'has-success':Form.personal.$dirty && Form.personal.$invalid}">
                    <label class="control-label">Yetkili Personel * </label>
                    <input type="text" name="personal" class="form-control" ng-model="myModel.personal" \>
                    <span class="messages text-small block" ng-if="Form.personal.$dirty && Form.personal.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.province.$dirty && Form.province.$invalid,'has-success':Form.province.$dirty && Form.province.$invalid}">
                    <label class="control-label" for="">İl</label>
                        <select class="form-control ng-pristine ng-invalid ng-touched" name="province" ng-model="myModel.province" required>
                            <option value="Male">Ankara</option>
                            <option value="Female">-</option>
                        </select>
                         <span class="messages text-small block" ng-if="Form.province.$dirty && Form.province.$invalid ">Lüften Cinsiyet alanını boş bırakmayınız</span>
                </div>             
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.district.$dirty && Form.district.$invalid,'has-success':Form.district.$dirty && Form.district.$invalid}">
                    <label class="control-label" for="">İlçe</label>
                        <select class="form-control ng-pristine ng-invalid ng-touched" name="district" ng-model="myModel.district" required>
                            <option value="Male">Ankara</option>
                            <option value="Female">-</option>
                        </select>
                         <span class="messages text-small block" ng-if="Form.district.$dirty && Form.district.$invalid ">Lüften Cinsiyet alanını boş bırakmayınız</span>
                </div>             
            </div>

            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error':Form.phone-number.$dirty && Form.phone-number.$invalid,'has-success':Form.phone-number.$dirty && Form.phone-number.$invalid}">
                    <label class="control-label">Telefon Numarası * </label>
                    <input type="text" name="phone-number" class="form-control" ng-model="myModel.phone-number" required>
                    <span class="messages text-small block" ng-if="Form.phone-number.$dirty && Form.phone-number.$invalid ">Lüften bu alanını boş bırakmayınız</span>
                </div>
            </div>

        </div>

    </div>
</form>