<div class="dropdown-secondary dropdown f-right btn-group">
    <div class="col-md-12">
        
            <div class="dropdown pull-left" style="float: right;">
                <button type="button" id="dropdown13" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary dropdown-toggle waves-effect waves-light f-right d-inline-block md-trigger" > <i class="icofont icofont-plus m-r-5"></i> Cari Hesap Ekle
                </button>
                <ul class="dropdown-menu">
                    
                    <li><a class="dropdown-item" tabindex="-1" ng-click="open('lg','','add.html')" >Kurumsal Cari Hesabı</a></li>
                    <li><a class="dropdown-item" tabindex="-1"  ng-click="open('lg','','add.html')">Bireysel Cari Hesabı</a></li>
                    <li><a class="dropdown-item" tabindex="-1"  ng-click="open('lg','','add.html')">Bayi Cari Hesabı</a></li>
                    <li><a class="dropdown-item" tabindex="-1"  ng-click="open('lg','','add.html')">Diğer Bireysel Cari Hesabı</a></li>
                    <li><a class="dropdown-item" tabindex="-1"  ng-click="open('lg','','add.html')">Diğer Kurumsal Cari Hesabı</a></li>
                    <li><a class="dropdown-item" tabindex="-1"  ng-click="open('lg','','add.html')">Diğer Yabancı Cari Hesabı</a></li>
                </ul>
            </div>
            <div class="dropdown pull-left" style="float: left;margin-right: 5px;">
                <button class="btn btn-primary  dropdown-toggle waves-effect waves-light" type="button" id="dropdown12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{type}}</button>
                <div class="dropdown-menu" aria-labelledby="dropdown12" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                    <a class="dropdown-item waves-light waves-effect" ng-click="changeType('')">
                        <span class="point-marker bg-danger"></span>Kurumsal Cari Hesabı
                    </a>
                    <a class="dropdown-item waves-light waves-effect" ng-click="changeType('')">
                        <span class="point-marker bg-danger"></span>Bireysel Cari Hesabı
                    </a>
                    <a class="dropdown-item waves-light waves-effect" ng-click="changeType('')">
                        <span class="point-marker bg-danger"></span>Bayi Cari Hesabı
                    </a>
                    <a class="dropdown-item waves-light waves-effect" ng-click="changeType('')">
                        <span class="point-marker bg-danger"></span>Diğer Bireysel Cari Hesabı
                    </a>
                    <a class="dropdown-item waves-light waves-effect" ng-click="changeType('')">
                        <span class="point-marker bg-danger"></span>Diğer Kurumsal Cari Hesabı
                    </a>
                    <a class="dropdown-item waves-light waves-effect" ng-click="changeType('')">
                        <span class="point-marker bg-danger"></span>Diğer Yabancı Cari Hesabı
                    </a>
                </div>
            </div>
       
    </div>
    <!-- end of dropdown menu -->
</div>

